//@import "bootstrap-compass";
@import "_variables";
@import "bootstrap";
//@import "compass";


/*
* Base structure
*/

html,
body {
  height: 100%;
}
body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
* Cover
*/

.cover {
  h1 {
    font-family: 'Kaushan Script', cursive;
  }
  .general-logo {
    width: 280px;
  }
  padding: 0 10px;
  .lead {
    margin-top: 0px;
    p {
      font-size: 15px;
    }
  }
  .buttons {
    a {
      font-size: 15px;
    }
  }
}
.cover .btn-lg {
  padding: 10px 20px;
  margin-bottom: 25px;
  font-size: 15px;
  // font-weight: bold;
}

/*
* Affix and center
*/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}
