<a href="https://github.com/nob/brunch-brown-rice/blob/master/README.md" class="btn btn-lg btn-default ">
  <i class="glyphicon glyphicon-book"></i>
  xxx@watari-japan.com
</a>
<a href="https://github.com/nob/brunch-brown-rice" class="btn btn-lg btn-default">
  <i class="glyphicon glyphicon-thumbs-up"></i>
  047-369-3400
</a>
