<a href="https://www.facebook.com/Watari-Ltd-952149911533400/" class="btn btn-lg btn-default ">
  <i class="icon icon-facebook-official"></i>
  WATARI Facebook page
</a>
<a href="mailto:contact@watari-japan.com" class="btn btn-lg btn-default ">
  <i class="icon icon-envelope"></i>
  contact@watari-japan.com
</a>
{{!-- <a href="https://github.com/nob/brunch-brown-rice" class="btn btn-lg btn-default">
  <i class="glyphicon glyphicon-thumbs-up"></i>
  047-369-3400
</a> --}}
