---
_options:
  layout: app/layouts/layout.hbs
  partials:
    - app/partials/buttons.hbs
title: Starter Template
---
<h1 class="cover-heading">Watari Japan</h1>
<p>Website under construction...</p>
<div class="lead">
  <p>〒399-0651 長野県 塩尻市 大路北小野4236番地51</p>
  <p>{{> buttons}}</p>
</div>
