---
_options:
  layout: app/layouts/layout.hbs
  partials:
    - app/partials/buttons.hbs
title: Starter Template
---
<h1 class="cover-heading">WATARI&nbsp;&nbsp;Ltd.</h1>
<img class="general-logo" src="/images/general-logo.jpg" alt="Watari Ltd."></script>
{{!-- <p>Website under construction...</p> --}}
<div class="lead">
  <p>〒399-0651 長野県 塩尻市 大字北小野4236番地51</p>
  <p>{{> buttons}}</p>
</div>
